{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "fbjs",
    "prettier"
  ],
  "plugins": [
    "prettier",
    "import",
    "react",
    "react-hooks",
    "jsx-a11y"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "paths": [
          "node_modules"
        ]
      }
    }
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ]
  },
  "ignorePatterns": [
    "dist/**",
    "node_modules/**"
  ]
}
